@page
@model MegaDeskWeb.Pages.Quotes.AddModel
@{
    ViewData["Title"] = "Add";
}
@using MegaDeskWeb.Model;
@*@using Interfaces;*@
@*@inject MegaDeskDBContext.DbSet<Desk> _deskRepo*@


<h2>New Quote</h2>


<form method="post" class="form-group">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="Quote.CustomerName" class="control-label"></label>
        <input asp-for="Quote.CustomerName" class="form-control" />
        <span asp-validation-for="Quote.CustomerName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Quote.RushID" class="control-label"></label>
        <select asp-for="Quote.RushID" class="form-control" asp-items="ViewBag.RushID"></select>
    </div>
    @*<div class="form-group">
            <label asp-for="Quote.price" class="control-label"></label>
            <input asp-for="Quote.price" class="form-control" />
            <span asp-validation-for="Quote.price" class="text-danger"></span>
        </div>*@








    <div class="form-group">
        <label asp-for="Desk.depth" class="control-label"></label>
        <input asp-for="Desk.depth" class="form-control" />
        <span asp-validation-for="Desk.depth" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Desk.width" class="control-label"></label>
        <input asp-for="Desk.width" class="form-control" />
        <span asp-validation-for="Desk.width" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Desk.drawers" class="control-label"></label>
        <input asp-for="Desk.drawers" class="form-control" />
        <span asp-validation-for="Desk.drawers" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Desk.materialID" class="control-label"></label>
        <select asp-for="Desk.materialID" class="form-control" asp-items="ViewBag.MaterialID"></select>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
</form>

